

<nav class="navbar navbar-expand-lg navbar-light bg-light myNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" width="30" height="30" alt="" >
          </a>
        <a class="navbar-brand" href="#">
            Calorie Counter
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item activeSub test1">
                <a href="/dashboard" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item test1">
                <a href="/reports" class="nav-link">Reports</a>
            </li>
            <li class="nav-item test1">
                <a href="/proupgrade" class="nav-link">Go Pro!</a>
            </li>
            <li class="nav-item test1">
                <a href="/settings" class="nav-link">Settings</a>
            </li>
            <li class="nav-item test1">
                <a href="/users/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
    
</nav>
<nav class="navbar navbar-expand-lg mySubNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler1" type="button" data-toggle="collapse" data-target="#mySubNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse text-left" id="mySubNavbar">
        <ul class="navbar-nav  flex-nowrap">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link secondaryTextColor">Summary</a>
            </li>
            <li class="nav-item activeSub">
                <a href="/meals" class="nav-link secondaryTextColor">Meals</a>
            </li>
            <li class="nav-item">
                <a href="/goals" class="nav-link secondaryTextColor">Goals</a>
            </li>
            <li class="nav-item">
                <a href="/progress" class="nav-link secondaryTextColor">Progress</a>
            </li>
        </ul>
    </div>
</nav>
<div class="card card-body">
    <h2 class="mt-4">Search for a food item</h2>
    <form action="/users/addmeal" method="POST">
        <% if (meals != null) {%>
            <table style="width: 100%;" class="mealTable">
                <tr class="secondaryTextColor" style="background-color: red;">
                    <th style="width:40%;text-align: left;">Name</th>
                    <th style="width:15%;text-align: right;">cals</th>
                    <th style="width:15%;text-align: right;">carbs</th>
                    <th style="width:15%;text-align: right;">fat</th>
                    <th style="width:15%;text-align: right;">protein</th>
                </tr>
                <% for(var i = 0; i < meals.length; i++) {%>
                    <% if(meals[i].foodNutrients.length > 1) {%>
                        <tr data-id=<%= meals[i].fdcId %>>
                            <td style="width:40%;text-align: left;" id=<%= meals[i].description%> data-id=<%= meals[i].fdcId %>><%=meals[i].description %></td>
                            <td style="width:15%;text-align: right;" id=<%= meals[i].foodNutrients[3].nutrientId %> data-id=<%= meals[i].foodNutrients[3].nutrientId %>><%=meals[i].foodNutrients[3].nutrientNumber %></td>
                            <td style="width:15%;text-align: right;" id=<%= meals[i].foodNutrients[2].nutrientId %> data-id=<%= meals[i].foodNutrients[2].nutrientId %>><%=meals[i].foodNutrients[2].nutrientNumber %></td>
                            <td style="width:15%;text-align: right;" id=<%= meals[i].foodNutrients[1].nutrientId %> data-id=<%= meals[i].foodNutrients[1].nutrientId %>><%=meals[i].foodNutrients[1].nutrientNumber %></td>
                            <td style="width:15%;text-align: right;" id=<%= meals[i].foodNutrients[0].nutrientId %> data-id=<%= meals[i].foodNutrients[0].nutrientId %>><%=meals[i].foodNutrients[0].nutrientNumber %></td>
                        </tr>
                    <% } %>
                <% } %>
            </table>
        <%}%>




        <div class="form-group">
                <input type="name" name="name" class="form-control" id="name" placeholder="Enter a name">
                <input type="hidden" name="date" id="date" value="<%=date%>">
                <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

</div>

<div class="modal hide fade" id="myModalAdd">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title">Add a food item</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <form action="/users/addmeal" method="POST">
                <div class="form-group">
                    <label for="name">Are you sure you want to add</label>
                    <input type="name1" name="name1" class="form-control" id="name1" placeholder="Enter a name">
                </div>
                <input type="hidden" name="user" id="user" value="<%=user%>">
                
                <input type="hidden" name="carbs" id="carbs" <%="value="%>>
                <input type="hidden" name="cals" id="cals" <%="value="%>>
                <input type="hidden" name="fat" id="fat" <%="value="%>>
                <input type="hidden" name="protein" id="protein" <%="value="%>>

                <input type="hidden" name="date" id="date" value="<%=date%>">

                <div class="form-group row">
                    <div class="col-sm-10 mt-4">
                        <button type="submit" class="btn btn-primary" onclick="redurect()">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
    $('table tbody tr  td').on('click',function(){
        $("#myModalAdd").modal("show");
        //console.log(val($(this).closest('tr').children()[0].textContent));
        $("#name1").val($(this).closest('tr').children()[0].textContent);
        $("#cals").val($(this).closest('tr').children()[1].textContent);
        $("#carbs").val($(this).closest('tr').children()[2].textContent);
        $("#fat").val($(this).closest('tr').children()[3].textContent);
        $("#protein").val($(this).closest('tr').children()[4].textContent);
        // //alert($(this).attr('data-id'));
        // $('#id1').val($(this).attr('data-id'));
        //$('#date1').val($(this).attr('id'));
        //document.getElementById("id1").innerHTML = $(this).attr('data-id');
    });

    function redurect(){
        window.history.pushState("", "", '/users/meals');
    }
</script>

<script>
    window.history.pushState("", "", '/');
</script>