<nav class="navbar navbar-expand-lg navbar-light bg-light myNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">
            Calorie Counter
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item activeSub test1">
                <a href="#" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item test1">
                <a href="/reports" class="nav-link">Reports</a>
            </li>
            <li class="nav-item test1">
                <a href="/proupgrade" class="nav-link">Go Pro!</a>
            </li>
            <li class="nav-item test1">
                <a href="/settings" class="nav-link">Settings</a>
            </li>
            <li class="nav-item test1">
                <a href="/users/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>

</nav>
<nav class="navbar navbar-expand-lg mySubNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile --></span>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler1" type="button" data-toggle="collapse"
                data-target="#mySubNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse text-left" id="mySubNavbar">
        <ul class="navbar-nav  flex-nowrap">
            <li class="nav-item activeSub">
                <a href="#" class="nav-link secondaryTextColor">Summary</a>
            </li>
            <li class="nav-item">
                <a href="/meals" class="nav-link secondaryTextColor">Meals</a>
            </li>
            <li class="nav-item">
                <a href="/goals" class="nav-link secondaryTextColor">Goals</a>
            </li>
            <li class="nav-item">
                <a href="/progress" class="nav-link secondaryTextColor">Progress</a>
            </li>
        </ul>
    </div>
</nav>
<style>
    tr,
    td {
        border: solid 1px black;
    }
</style>
<div class="card card-body">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= user.name %></p>
    <% if (user.dailycals==0) { %>
    <a class="btn btn-primary" style="width:50%" href="/goals" role="button">Calculate Daily Goals</a>
    <% }else {%>
    <table style="width: 50vw;margin: auto;border: 5px solid black; border-collapse: collapse">
        <thead>
            <tr>
                <td style="margin:auto">Meal</td>
                <td style="margin:auto">calories</td>
            </tr>
        </thead>
        <tbody>
            <% let total = 0 %>
            <% meals.forEach(element => { %>
            <tr>
                <% total += parseInt(element.calories) %>
                <td style="margin:auto"><%= element.description %></td>
                <td style="margin:auto"><%= element.calories%></td>
            </tr>
            <% }); %>
            <tr>
                <td style="margin:auto">Total</td>
                <td style="margin:auto"><%= total %></td>
            </tr>
        </tbody>
    </table>
    <h3 style="margin:auto">you have <%= remaining %> calories remaining</h3>
    <% } %>
</div>