<nav class="navbar navbar-expand-lg navbar-light bg-light myNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" width="30" height="30" alt="" >
          </a>
        <a class="navbar-brand" href="#">
            Calorie Counter
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item activeSub test1">
                <a href="/dashboard" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item test1">
                <a href="/reports" class="nav-link">Reports</a>
            </li>
            <li class="nav-item test1">
                <a href="/proupgrade" class="nav-link">Go Pro!</a>
            </li>
            <li class="nav-item test1">
                <a href="/settings" class="nav-link">Settings</a>
            </li>
            <li class="nav-item test1">
                <a href="/users/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
    
</nav>
<nav class="navbar navbar-expand-lg mySubNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler1" type="button" data-toggle="collapse" data-target="#mySubNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse text-left" id="mySubNavbar">
        <ul class="navbar-nav  flex-nowrap">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link secondaryTextColor">Summary</a>
            </li>
            <li class="nav-item">
                <a href="/meals" class="nav-link secondaryTextColor">Meals</a>
            </li>
            <li class="nav-item activeSub">
                <a href="#" class="nav-link secondaryTextColor">Goals</a>
            </li>
            <li class="nav-item">
                <a href="/progress" class="nav-link secondaryTextColor">Progress</a>
            </li>
        </ul>
    </div>
</nav>

<div class="card card-body">
    <% if (user.dailycals>0) {%>
    <h1 class="mt-4">Goals</h1>
    <p class="lead mb-3"><%= user.name %>'s goals</p>
    <%- include('partials/messages'); %>
    <form action="/users/goals" method="POST">
        <div class="form-group row">
            <label for="dailycals" class="col-sm-2 col-form-label">Calories</label>
            <div class="col-sm-10">
                <input type="number" name="dailycals" class="form-control" id="dailycals" <%="value="%><%=user.dailycals%>>
            </div>
        </div>
        <div class="form-group row">
            <label for="dailycarbs" class="col-sm-2 col-form-label">Carbohydrates</label>
            <div class="col-sm-10">
                <input type="number" name="dailycarbs" class="form-control" id="dailycarbs" <%="value="%><%=user.dailycarbs%>>
            </div>
        </div>
        <div class="form-group row">
            <label for="dailyfat" class="col-sm-2 col-form-label">Fat</label>
            <div class="col-sm-10">
                <input type="number" name="dailyfat" class="form-control" id="dailyfat" <%="value="%><%=user.dailyfat%>>
            </div>
        </div>
        <div class="form-group row">
            <label for="dailyprotein" class="col-sm-2 col-form-label">Protein</label>
            <div class="col-sm-10">
                <input type="number" name="dailyprotein" class="form-control" id="dailyprotein" <%="value="%><%=user.dailyprotein%>>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </form>
    <%} else {%>
        <h2 class="text-center">Calculate Caloric Intake</h2>
        <%- include('partials/messages'); %>
        <form action="/users/calculate" method="POST">
            <div class="form-group">
                <label for="age">Age</label>
                <input type="age" name="age" class="form-control" id="age" placeholder="Age in Years">
            </div>
            <div class="form-group">
                <label for="weight">Weight</label>
                <input type="weight" name="weight" class="form-control" id="weight" placeholder="Weight in lbs.">
            </div>
            <div class="form-group">
                <label for="height">Height</label>
                <input type="height" name="height" class="form-control" id="height" placeholder="Height in Inches">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" name="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label for="goal">Goal</label>
                <select class="form-control" id="goal" name="goal">
                    <option value="lose">Lose Weight</option>
                    <option value="gain">Gain Weight</option>
                </select>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 mt-4">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </div>
        </form>
    <%}%>
</div>







