<!doctype html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/node_modules/chart.js/dist/Chart.min.css" />
        <script src="https://kit.fontawesome.com/f07e27df68.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />
        <link rel="stylesheet" href="/styles/styles.css" />
        <link rel="stylesheet" href="/datepicker/css/bootstrap-datepicker.standalone.min.css" />

        <title>Calorie Counter</title>
</head>
<script src="/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

<body>
        <div class="container">
                <%- body %>
        </div>

</body>

</html>