

<nav class="navbar navbar-expand-lg navbar-light bg-light myNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" width="30" height="30" alt="" >
          </a>
        <a class="navbar-brand" href="#">
            Calorie Counter
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item activeSub test1">
                <a href="/dashboard" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item test1">
                <a href="/reports" class="nav-link">Reports</a>
            </li>
            <li class="nav-item test1">
                <a href="/proupgrade" class="nav-link">Go Pro!</a>
            </li>
            <li class="nav-item test1">
                <a href="/settings" class="nav-link">Settings</a>
            </li>
            <li class="nav-item test1">
                <a href="/users/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
    
</nav>
<nav class="navbar navbar-expand-lg mySubNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler1" type="button" data-toggle="collapse" data-target="#mySubNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse text-left" id="mySubNavbar">
        <ul class="navbar-nav  flex-nowrap">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link secondaryTextColor">Summary</a>
            </li>
            <li class="nav-item activeSub">
                <a href="#" class="nav-link secondaryTextColor">Meals</a>
            </li>
            <li class="nav-item">
                <a href="/goals" class="nav-link secondaryTextColor">Goals</a>
            </li>
            <li class="nav-item">
                <a href="/progress" class="nav-link secondaryTextColor">Progress</a>
            </li>
        </ul>
    </div>
</nav>
<div class="card card-body">
    <h1 class="mt-4">Meals</h1>
    <%- include('partials/messages'); %>

    <form id="myForm" action="/users/meals" method="POST">

    <div class="form-group" style="padding-top: 20px;">
            
            <span class="lead mb-3"><%= user.name %>'s meal planner for</span>
            <input type="date" name="date" id="date" <%="value="%><%=date%>>
            <input type="hidden" name="user" id="user" value="<%=user%>">

            <script type="text/javascript">
                $('#date').change(function() { 
                    // var date = $(this).val(); 
                    //alert(user) 
                    document.getElementById("myForm").submit();
                });
            </script>  
    </div>
    </form>
    <% if (user.dailycals>0) {%>
        <table style="width: 100%;" class="mealTable">
            <tr class="secondaryTextColor" style="background-color: red;">
                <th style="width:30%;text-align: left;">Name</th>
                <th style="width:15%;text-align: right;">cals</th>
                <th style="width:15%;text-align: right;">carbs</th>
                <th style="width:15%;text-align: right;">fat</th>
                <th style="width:15%;text-align: right;">protein</th>
                <th style="width:10%;text-align: right;"></th>
            </tr>
            <% for(var i = 0; i < meals.length; i++) {%>
                <% if(meals[i].date.toISOString().substring(0,10) == date) {%>
                    <tr data-id=<%= meals[i]._id %>>
                        <form action="/users/deletemeal/<%= meals[i].id %>" method="POST">
                        <td class="update" style="width:30%;text-align: left;" id=<%= meals[i].date.toISOString().substring(0,10) %> data-id=<%= meals[i]._id %>><%=meals[i].description %></td>
                        <td class="update" style="width:15%;text-align: right;" id=<%= meals[i].date.toISOString().substring(0,10) %> data-id=<%= meals[i]._id %>><%=meals[i].calories %></td>
                        <td class="update" style="width:15%;text-align: right;" id=<%= meals[i].date.toISOString().substring(0,10) %> data-id=<%= meals[i]._id %>><%=meals[i].carbs %></td>
                        <td class="update" style="width:15%;text-align: right;" id=<%= meals[i].date.toISOString().substring(0,10) %> data-id=<%= meals[i]._id %>><%=meals[i].fat %></td>
                        <td class="update" style="width:15%;text-align: right;" id=<%= meals[i].date.toISOString().substring(0,10) %> data-id=<%= meals[i]._id %>><%=meals[i].protein %></td>
                        <td><button type="submit" class="btn-dark" style="width:100%;text-align: center;">Delete</button></td>
                        </form>
                    </tr>
                <% } %>
            <% } %>
            <tr class="border">
                <td style="width:40%;text-align: center;">Daily Progress</td>
                <td style="width:15%;text-align: right;"><%=goals.cals %></td>
                <td style="width:15%;text-align: right;" ><%=goals.carbs %></td>
                <td style="width:15%;text-align: right;" ><%=goals.fat %></td>
                <td style="width:15%;text-align: right;" ><%=goals.prot %></td>
                <td style="width:10%;text-align: right;" ></td>
            </tr>
                    </table>
        <span style="align-items: center;">*try to get the number close to 0</span>
    </form>
        <form action="/users/addmeal" method="POST">
            <div class="form-group" style="padding-top: 20px;">
                <input type="hidden" name="date" id="date" value="<%=date%>">
                <input type="hidden" name="goals" id="goals" value="<%=goals%>">
                <button type="submit" class="btn btn-primary">Add A Meal
                    <!-- <a href="/addmeal" class="button" style="color: white;">Add A Meal</a> -->
                </button>


            </div>
        </form>

    <%} else {%>
        <h2 class="mt-4">No goals set!</h2>
        <button type="submit" class="btn btn-primary">submit</button>
    <%}%>

</div>

<div class="modal hide fade" id="myModalUpdate">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title">Add a food item</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <form action="/users/updatemeal" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" name="name" class="form-control" id="name" placeholder="Enter a name">
                </div>
                <div class="form-group">
                    <label for="cals">Calories</label>
                    <input type="cals" name="cals" class="form-control" id="cals" placeholder="Calories">
                </div>
                <div class="form-group">
                    <label for="carbs">Carbs</label>
                    <input type="carbs" name="carbs" class="form-control" id="carbs" placeholder="Carbs">
                </div>
                <div class="form-group">
                    <label for="fat">Fat</label>
                    <input type="fat" name="fat" class="form-control" id="fat" placeholder="fat">
                </div>
                <div class="form-group">
                    <label for="protein">Protein</label>
                    <input type="protein" name="protein" class="form-control" id="protein" placeholder="Protein">
                </div>

                <input type="hidden" name="user" id="user" value="<%=user%>">

                <input type="hidden" name="id1" id="id1" <%="value="%>>
                <input type="hidden" name="date1" id="date1" <%="value="%>>

                <div class="form-group row">
                    <div class="col-sm-10 mt-4">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<script>
    $('table tbody tr  td').on('click',function(){


        if($(this).closest('tr').children()[0].textContent != "Daily Progress")
        {
            $("#myModalUpdate").modal("show");
            $("#name").val($(this).closest('tr').children()[1].textContent);
            $("#cals").val($(this).closest('tr').children()[2].textContent);
            $("#carbs").val($(this).closest('tr').children()[3].textContent);
            $("#fat").val($(this).closest('tr').children()[4].textContent);
            $("#protein").val($(this).closest('tr').children()[5].textContent);
            //alert($(this).attr('data-id'));
            $('#id1').val($(this).attr('data-id'));
            $('#date1').val($(this).attr('id'));
            //document.getElementById("id1").innerHTML = $(this).attr('data-id');
        }

    });
</script>
