<nav class="navbar navbar-expand-lg navbar-light bg-light myNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">
            Calorie Counter
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item test1">
                <a href="/dashboard" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item test1">
                <a href="/reports" class="nav-link">Reports</a>
            </li>
            <li class="nav-item activeSub test1">
                <a href="#" class="nav-link">Go Pro!</a>
            </li>
            <li class="nav-item test1">
                <a href="/settings" class="nav-link">Settings</a>
            </li>
            <li class="nav-item test1">
                <a href="/users/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>

</nav>
<div class="card card-body">
    <% if(typeof user.premium === 'undefined' || user.premium === false) {%>
    <%- include('partials/messages'); %>
    <h1 class="mt-4 text-center">Go Pro!</h1>
    <div style="width: 75%;">
        <h4 class="mt-2">How much does it cost?</h4>
        <p class="lead">
            • The price is $xx.xx per month
        </p>
        <h4 class="mt-2">What are the benefits?</h4>
        <p class="lead">
            • You will have access to our weekly reports feature
        </p>
        <p class="lead">
            • The reports will help you know how well you are doing relative to where you want to be in terms of your goal weight
        </p>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" style="width: 30%;" data-target="#mymodal" data-toggle="modal">Go Pro</button>
    </div>
    <%} else {%>
    <h1 class="mt-4 text-center">You are officially a pro member!</h1>
    <%}%>
    <div id="mymodal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius:20px;">
                <div class="modal-header" style="border-radius:20px 20px 0 0 ;background-color: lightgrey; margin: 5px;">
                    <h5 class="ml-auto modal-title">Payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/users/upgrade" method="POST">
                        <label for="ccname">Name on card</label>
                        <input type="text" class="form-control" id="ccname" name="ccname" placeholder="" required="">

                        <label for="ccnumber">Credit card number</label>
                        <input type="text" class="form-control" id="ccnumber" name="ccnumber" placeholder="" required="">

                        <label for="ccexpiration">Expiration</label>
                        <input type="text" class="form-control" id="ccexpiration" name="ccexpiration" placeholder="" required="">
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>

                        <label for="cvv">CVV</label>
                        <input type="text" class="form-control" id="cvv" name="cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                            Security code required
                          </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4">Pay</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>