<% 
const getFullDate = (weekday) => {
    let date = new Date(weekday);
    let day = date.getDate() < 10 ? "0"+ date.getDate(): date.getDate();
    let month = date.getMonth() +1 < 10 ? "0"+ date.getMonth() +1 : date.getMonth() + 1;
    return `${date.getFullYear()}-${month}-${day}`;
}
%>
<nav class="navbar navbar-expand-lg navbar-light bg-light myNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block">
            <!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">
            Calorie Counter
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item test1">
                <a href="/dashboard" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item activeSub test1">
                <a href="#" class="nav-link">Reports</a>
            </li>
            <li class="nav-item test1">
                <a href="/proupgrade" class="nav-link">Go Pro!</a>
            </li>
            <li class="nav-item test1">
                <a href="/settings" class="nav-link">Settings</a>
            </li>
            <li class="nav-item test1">
                <a href="/users/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>

</nav>
<div class="card card-body">
    <% if(typeof user.premium === 'undefined' || user.premium === false) {%>
        <h1>You are not a premium member and cannot acces the report feature</h1>
    <%} else {%>
    <p style="margin:auto;">
        <%= user.name %>'s report
    </p>
    <form id="changeReportForm" action="/users/reports" method="POST">
        <input type="date" name="date" id="date" <%="value="%><%= getFullDate(date)%>>        
        <input type="hidden" name="user" id="user" value="<%=user%>">
        
        <script type="text/javascript">
            $('#date').change(function() {
                document.getElementById("changeReportForm").submit();
            });
        </script> 
    </form>
    
    <p style="font-size:20px;padding-top: 2vh;margin:auto;float: left;">Carbs</p>      
    <canvas id="myWeeksCarbsChart"></canvas>
    <p style="font-size:20px;padding-top: 2vh;margin:auto;float: left;">Fat</p>
    <canvas id="myWeeksProteinChart"></canvas>
    <p style="font-size:20px;padding-top: 2vh;margin:auto;float: left;">Protein</p>
    <canvas id="myWeeksFatChart"></canvas>
    <p style="font-size:20px;padding-top: 2vh;margin:auto;float: left;">Calories</p>    
    <canvas id="myWeeksCaloriesChart"></canvas>
    
    <% } %>
</div>
<script src="../scripts/dateFinder.js"></script>
<script>
    
    let userMeals = <%- JSON.stringify(meals) %>;
    let currentWeek = <%- JSON.stringify(weekDays) %>;
    console.log(userMeals);
    let progress = [];
    currentWeek.forEach(item=>{
        progress.push(getDayProgress(item,userMeals))
    });
    var weekChartCarbContext = document.getElementById('myWeeksCarbsChart').getContext('2d');
    var myChart = new Chart(weekChartCarbContext, {
        type: 'bar',
        data: {
            labels: [getFullDate(currentWeek[0]), getFullDate(currentWeek[1]), getFullDate(currentWeek[2]), getFullDate(currentWeek[3]), getFullDate(currentWeek[4]), getFullDate(currentWeek[5]), getFullDate(currentWeek[6])],
            datasets: [{
                label: 'Carbs',
                data: [progress[0].carbs, progress[1].carbs, progress[2].carbs, progress[3].carbs, progress[4].carbs, progress[5].carbs, progress[6].carbs],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(50, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(50, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    //protein
    var weekChartProteinContext = document.getElementById('myWeeksProteinChart').getContext('2d');
    var myChart = new Chart(weekChartProteinContext, {
        type: 'bar',
        data: {
            labels: [getFullDate(currentWeek[0]), getFullDate(currentWeek[1]), getFullDate(currentWeek[2]), getFullDate(currentWeek[3]), getFullDate(currentWeek[4]), getFullDate(currentWeek[5]), getFullDate(currentWeek[6])],
            datasets: [{
                label: 'Protein',
                data: [progress[0].protein, progress[1].protein, progress[2].protein, progress[3].protein, progress[4].protein, progress[5].protein, progress[6].protein],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(50, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(50, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    //fat
    var weekChartFatContext = document.getElementById('myWeeksFatChart').getContext('2d');
    var myChart = new Chart(weekChartFatContext, {
        type: 'bar',
        data: {
            labels: [getFullDate(currentWeek[0]), getFullDate(currentWeek[1]), getFullDate(currentWeek[2]), getFullDate(currentWeek[3]), getFullDate(currentWeek[4]), getFullDate(currentWeek[5]), getFullDate(currentWeek[6])],
            datasets: [{
                label: 'Fat',
                data: [progress[0].fat, progress[1].fat, progress[2].fat, progress[3].fat, progress[4].fat, progress[5].fat, progress[6].fat],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(50, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(50, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    //calories
    var weekChartCaloriesContext = document.getElementById('myWeeksCaloriesChart').getContext('2d');
    var myChart = new Chart(weekChartCaloriesContext, {
        type: 'bar',
        data: {
            labels: [getFullDate(currentWeek[0]), getFullDate(currentWeek[1]), getFullDate(currentWeek[2]), getFullDate(currentWeek[3]), getFullDate(currentWeek[4]), getFullDate(currentWeek[5]), getFullDate(currentWeek[6])],
            datasets: [{
                label: 'Calories',
                data: [progress[0].calories, progress[1].calories, progress[2].calories, progress[3].calories, progress[4].calories, progress[5].calories, progress[6].calories],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(50, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(50, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    function getDayProgress(day,meals){
        let progress = {carbs:0,fat:0,protein:0,calories:0};        
        meals.forEach(meal =>{
            if(getFullDate(meal.date) === getFullDate(day)){
                progress.carbs += parseInt(meal.carbs);
                progress.protein += parseInt(meal.protein);
                progress.calories += parseInt(meal.calories);
                progress.fat += parseInt(meal.fat);                
            }
        })
        return progress;
    }
</script>
