<nav class="navbar navbar-expand-lg navbar-light bg-light myNavbar">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png" width="30" height="30" alt="" >
          </a>
        <a class="navbar-brand" href="#">
            Calorie Counter
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item test1">
                <a href="/dashboard" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item test1">
                <a href="/reports" class="nav-link">Reports</a>
            </li>
            <li class="nav-item test1">
                <a href="/proupgrade" class="nav-link">Go Pro!</a>
            </li>
            <li class="nav-item activeSub test1">
                <a href="#" class="nav-link">Settings</a>
            </li>
            <li class="nav-item test1">
                <a href="/users/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </div>
    
</nav>
<div class="card card-body">
    <h1 class="mt-4">Settings</h1>
    <p class="lead mb-3"><%= user.name %>'s settings</p>
</div>







