.nav-link {
    color: red !important;
}

.navbar-light .navbar-toggler {
    /* color: red; */
    border-color: red;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: red;
} 

.custom-toggler1 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler1.navbar-toggler {
    border-color: white;
} 

.test1 {
    padding-right: 10px;
}

.myNavbar {
    padding-bottom: 20px;
}

.mySubNavbar{
    background-color: red;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 5px;
}

.secondaryTextColor{
    color: white !important;

}

.navbar-collapse > .navbar-nav {
    float: right !important;
    
    max-width: 500px;
    min-width: 200px;
}

.navbar-collapse > .navbar-nav > .nav-item > .nav-link {
    padding-right: 5px;
    text-align: right;
}

.navbar-nav li a:hover, .navbar-nav > .activeSub > a {
    color: #fff !important;
  
    background-color:#eb6864 !important;
    background-image: none !important;
}


.mealTable td {
    padding-top:10px;
    padding-bottom:20px;
    padding-right:20px;   
    text-align: right;
}

.mealTable td:first-child {
    padding-left:20px;
    padding-right:0;
    text-align: left;
}

.mealTable th {
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;   
    text-align: right;
}

.mealTable th:first-child {
    padding-left:20px;
    padding-right:0;
    text-align: left;
}

.mealTable tr:nth-child(even) {
    background-color: #ffcfcf;
}

.mealTable tr:nth-child(odd) {
    background-color: #eb6864;
}

tr.border td {
    border-top: 5px solid red;
  }

/* a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
} */